{% extends "tethys_layouts/map_layout/map_layout.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  {{ block.super }} # Add this line
{% endblock %}

{% block custom_map_tabs %}
{{ block.super }}
<li class="nav-item active" role="presentation">
  <button class = "nav-link"
          id="query-tab-toggle"
          data-bs-toggle="tab"
          role="tab"
          data-bs-target="#query-tab-panel"
          aria-controls="query-tab-panel"
          aria-selected="true">Query</button>
</li>
{% endblock %}

{% block custom_map_tab_panels %}
{{ block.super }}
<div class="tab-pane show" id="query-tab-panel" role="tabpanel" aria-labelledby="query-tab-toggle">
  <div id="query-form-container">
    <br>
    <form id="query-form", method="POST">
      {% csrf_token %}
      {% gizmo TextInput reach_id %}
      {% gizmo DatePicker start_date %}
      {% gizmo SelectInput start_time %}
      {% gizmo DatePicker end_date %}
      {% gizmo SelectInput end_time %}
      {% gizmo SelectInput table %}
      {% gizmo VariableInput variable %}
      {% gizmo TextInput forecast_offset %}
    </form>
    <div id="button-container">
      {% gizmo Button query_button %}
      {% gizmo Button download_button %}
    </div>
  </div>
</div>
   
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type = "module" src="{% static 'nwm_bigquery_tutorial/js/app.js' %}"></script>
{% endblock %}
